* {
   box-sizing: border-box;	
}

body {
	color:#444;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

a {
	color:#D00;
	text-decoration: none;
	-wedkit-transition: all 300ms;
	
}

a:hover {
	color:#A00;
}

.title {
	float:left;
}

.title h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 80px;
	font-style:oblique;
	padding-top: 10px;
}

.companheader {
	float:left;
	margin: 15px 0px 0px 50px;
	padding-top: 10px;
	}
	
.companheader p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	color:gray;
	vertical-align: bottom;
	
}

.article-img {
	max-width: 100%;
}

.wrapper {
	width:1100px;
	margin: 0 auto;
}

.menu-main {
	list-style:none;
	margin: 0;
	padding: 0;
	clear: both;
}

.menu-main li {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 40px;
	display: inline-block;
	float:left;
	width:16.66%;
	padding-bottom: 50px;
}

.menu-main a {
	background: black;
	display: block;
	color:white;
	padding: 15px;
	border-right:1px solid white;
	text-align: center;
}

.menu-main a:hover {
	background: #900;
}

.articleone {
	margin-bottom: 50px;
}

.articleone h1{
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size: 70px;
	color:black;

	}
	
.articleone p{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight:400;
	color:black;
}

.articletwo{
	margin-bottom: 50px;
}

.articletwo h1{
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size: 70px;
	color:black;
}

.articletwo p{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 40px;
	color:black;
}

.article-date {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color:gray;
	
}

.content{
	float:left;
	width: 70%;
}

.asidebar{
	float:right;
	width:30%;
	padding:1px;
}

.textbar{
	padding-left: 25px;
	margin: 0 auto;
}

.textbar h1{
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color:black;

}

.textbar p{
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:black;
}

.popularpost h1{
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color:black;
}

.first-list ul li{
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: red;
    list-style: none;
}

.list {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:red;
}
.img {
	height: 100px;
	background-color: red;
	width: 30%;
}

.footer{
	width:100%;
	clear: both;
	float:left;
}

.menufooter{
	display: inline;
}

.menufooter li{
	text-align: left;
	display:inline;
	border-color: black;
	border-left-width: 10px;
	padding-right: 20px;
}

.foot {
	text-align: left;
	margin-top: 20px;
	padding: 20px;
	
}
.drop-cap {
	font-family: 'Lato', sans-serif;
    margin: 30px 10px;
	margin:0 10px 0 0;
	font-size: 100px;
	font-weight: 500;
	float:left;	
}

    
}