.placeholder { 

	 margin: 0px;   
	 height: 200px;    
	 padding: 10px;     
	 border: 10px solid white;    
	 background: rgba(255,255,255,0.7); 
	 }
.sideBarright {
	
	 width:40%;     
	 float: left;     
	 background: pink; 
	 height: 250px;
}
	 
 .pageHeader { 
	     
	width:30%;    
    float: left;     
	background: red;
	
	   }
	    
 .main {  
	 height: 250px;  
	width:40%;     
	float: left;     
	background: yellow;
		 } 
		  
.sideBar { 
	   
    height: 250px;
	width:50%;     
	float: left;     
	background: green; 
			 }
			   
.pageFooter {    
	clear:both;
	width: 100%;     
	float: left;     
    background: blue; 
				  }
.newblock {
	background: white;
	padding:30px;
	margin:30px;
			}
.newblock li {
	color:white;
	font-size: 20px;
	text-decoration: none;
	padding: 20px;
	background:red;
	border-right: 1px solid white;
	 display: inline-block;
}
