 h1 {
    text-align: center;
    color:#341408;
    }
body{
    background: #FEE;
    font-family: #887;
    }
a  {
    color:#900;
   }
.auxHeader{
       color:#887;
   }
img {
    border-color: black;
    margin: auto;
}