p {
	font-family: georgia;
	font-size: 14px
}
h1 {
	text-transform: uppercase;
}

h2 {
	font-variant: small-caps;
	font-size: x-large;
	font-style: normal; 
}

h3 {
	font-size: 10;
	font-style: !important;
}

table.contents {
	background-color:#fafafa;
	border-collapse: collapse;
}

table.contents li {
	font-size:large;
}

table.soft {
  border-collapse: collapse;
  background-color: #ececec;

}

table.soft td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

table.pic {
	border-collapse: collapse;
	float: right;
    background-color: #fcf1f5;
}

